/* ROW */

.recommended-movies-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 1rem;
  perspective: 100rem;
  overflow: hidden;
  width: 100%;
  height: 45rem;
}

.carousel {
  width: calc(35%);
  height: 35rem;
  transform-style: preserve-3d;
  position: relative;
  /* animation: rotateCarousel 20s infinite linear; */
}

.carousel__images {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.carousel__images img {
  position: absolute;
  width: 80%;
  height: 20rem;
  top: 7rem;
  left: 5rem;
  object-fit: contain;
  border-radius: 1rem;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

@media (max-width: 37.5em) {
  .carousel {
    width: calc(90%);
    height: 25rem;
  }
  .carousel__images {
    width: 50%;
  }
  .carousel__images img {
    top: 3rem;
    left: 12rem;
  }
}

/* Glow effect when hovered */
.carousel__images img:hover {
  transform: scale(1.1);
  box-shadow: 0 2rem 4rem rgba(255, 255, 255, 0.4);
}

/* BUTTONS */
.carousel__buttons {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 8rem);
  padding: 0 1rem;
}

@keyframes rotateCarousel {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
