:root {
  --primary-color: #0077b6;
  --primary-color-tint: #d5e8f3;
  --primary-color-shade: #00141e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Playfair Display", serif;
}

body {
  width: 100%;
  background-color: var(--primary-color-tint);

  /* background-color: aqua; */
}
